.game-container {  /* Permite que los hijos con position:absolute se posicionen dentro de este */
  width: 100%;  
  min-height: 100vh;  /* Asegura que el contenedor ocupe toda la pantalla */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  }
  
  .stats-history {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .wheel-container{
    bottom: 23px;
  }
  
  .lujuria {
    width: 340px;  
    height: auto;
    position: absolute; 
    top: 50px; 
    left: 300px; 
    z-index: 10; 
    pointer-events: none; 
  }
  
